# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Node / Next.js
node_modules/
.next/
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.local
